<h1 class="page-header">Aditivo Contrato <%= "#{@contrato.numero}/#{@contrato.ano}" %></h1>

<% if @aditivo.errors.any? %>
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <ul>
        <% @aditivo.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="panel panel-default">
<div class="panel-heading">
    <%= action %>
</div>
<!-- /.panel-heading -->
<div class="panel-body">
    <div class="col-lg-12">
        <%= form_for(@aditivo) do |f| %>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Numero</label>
                    <%= f.text_field :numero, class: "form-control", placeholder: "Numero do Aditivo"  %>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Contrato</label>
                    <%= f.text_field :contrato_id, class: "form-control", readonly: "", placeholder: "Numero do Contrato"  %>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Modalidade</label>
                    <%= f.collection_select :tipo_aditivo_id, @tipo_aditivo_options_for_select, :id, :descricao, {}, { class: "form-control" } %>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Valor</label>
                    <div class="form-group input-group">
                        <span class="input-group-addon">R$</span>
                        <%= f.text_field :valor, class: "form-control", id: 'money', placeholder: "Valor do Contrato"  %>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Data de Assinatura</label>
                    <%= f.date_field :data_ass, class: "form-control", placeholder: "Data de Assinatura do Contrato"  %>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Data de Vencimento</label>
                    <%= f.date_field :data_venc, class: "form-control", placeholder: "Data de Vencimento do Contrato"  %>
                </div>
            </div>
            <div class="col-lg-12">
                <button type="submit" class="btn btn-default">Salvar</button>
                <%= link_to contrato_path(@aditivo.contrato_id), class: "btn btn-default" do %>
                    Voltar
                <% end %>
            </div>
        <% end %>
    </div>
    
</div>
    <!-- /.panel-body -->
</div>

<script type="text/javascript" charset="utf-8"> 
    $('#money').mask('00.000.000,00', {reverse: true});
</script>