<h2 class="page-header">Contratos</h1>

<!-- <ul class="nav nav-tabs">
    <li class="col-lg-4 col-md-6 active">
        <%#= link_to contratos_path, 'aria-expanded' => 'true' do %>
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="huge" style="color: #337ab7"><%#= @todos %></div>
                            <div>Todos os Contratos</div>
                        </div>
                    </div>
                </div>
        <%# end %>
    </li>
    <li class="col-lg-4 col-md-6">
        <%#= link_to contratos_ativos_path, 'aria-expanded' => 'false' do %>
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="huge" style="color: green"><%#= @ativos %></div>
                        <div>Contratos Ativos</div>
                    </div>
                </div>
            </div>
        <%# end %>
    </li>
    <li class="col-lg-4 col-md-6">
        <%#= link_to contratos_finalizados_path, 'aria-expanded' => 'false' do %>
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="huge" style="color: Grey"><%#= @finalizados %></div>
                        <div>Contratos Finallizados</div>
                    </div>
                </div>
            </div>
        <%# end %>
    </li>
    </li>
</ul> -->

<div class="panel panel-default">
    <div class="panel-heading">
        <%= form_tag("/contratos", method: "get") do %>
            Listando Contratos exercicio:
            <%= select_tag(:ano_param, options_for_exercicio(@ano)) %>
            <%= submit_tag  'Selecionar' %>
        <% end %>
        <% if policy(@contratos).new? %>
            <%= link_to new_contrato_path, class: "btn btn-success btn-sm pull-right", style: "margin-top: -28px" do %>
                <i class="fa fa-plus"></i>
            <% end %>
        <% else %>
            <%= link_to '#', disabled: 'disabled', class:"btn btn-success btn-sm pull-right", style:"margin-top: -5px" do %>
                <i class="fa fa-plus"></i>
            <% end %>
        <% end %>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div>
            <table id="contratos"  class="table table-striped table-bordered display table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th class="text-center">Numero</th>
                        <th class="text-center">Orgão</th>
                        <th class="text-center">Fornecedor</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Modalidade</th>
                        <th class="text-center">Vence em</th>
                        <th class="text-center">Vencimento</th>
                        <th class="text-center">Valor</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @contratos.each do |contrato| %>
                    <tr>
                        <td><%= contrato.numero %></td>
                        <td><%= contrato.entidade.sigla %></td>
                        <td><%= contrato.fornecedor.nome %></td>
                        <td class="text-center">
                            <% if @hoje > contrato.data_venc %>
                                <div class="alert-danger">Finalizado</div>
                            <% else %>
                                <div class="alert-success">Ativo</div>
                            <% end %>
                        </td>
                        <td><%= contrato.modalidade.descricao %></td>
                        <td>
                            <% @vigencia_rest = contrato.data_venc - @hoje %>
                            <% dt = @vigencia_rest.to_i %>
                            <% if dt > 45 %>
                                <%= dt %> dias
                            <% elsif dt <= 45 and dt > 0 %>
                                <i class="fa fa-exclamation-circle" style="color: red"></i> <%= dt %> dias
                            <% else %>
                                <%= dt %> dias
                            <% end %>
                        </td>
                        <td><%= contrato.data_venc %></td>
                        <td class="text-right"><%= humanized_money_with_symbol contrato.valor %></td>
                        <td width="50">
                            <div class="pull-right">
                                <%= link_to contrato_path(contrato), class: "btn btn-primary btn-xs" do %>
                                    <i class="fa fa-edit"></i>
                                <% end %>
                                <% if policy(contrato).destroy? and contrato.aditivos.length == 0 %>
                                    <%= link_to contrato_path(contrato),
                                            method: :delete,
                                            class: "btn btn-danger btn-xs",
                                            data: {confirm: "Você deseja realmente excluir o contrato (<b>#{contrato.numero}/#{contrato.ano}</b>)?"} do %>
                                        <i class="fa fa-minus"></i>
                                    <% end %>
                                <% else %>
                                    <%= link_to '#', disabled: 'disabled', class:"btn btn-danger btn-xs" do %>
                                        <i class="fa fa-minus"></i>
                                    <% end %>
                                <% end %>
                            </div>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            
        </div>
        <!-- /.table-responsive -->
    </div>
        <!-- /.panel-body -->
</div>